html
  head
    meta(charset='utf-8')
    title Rxhub
  body
    p
      span(style='font-family: poppins;')
    table(cellpadding='0', cellspacing='0', border='0', width='100%', align='center', style='color: rgb(34, 34, 34); font-family: Arial, Helvetica, sans-serif; font-size: small; background-color: rgb(255, 255, 255); width: 520px; max-width: 520px; margin: 32px auto;')
      tbody
        tr
          td(style='text-align: center;')
            img(src='http://167.71.197.68:3000/public/uploads/Logo.png', alt='logo')
        |         
        tr
          th(style='text-align: center; border-bottom: 1px solid rgb(16, 74, 90); padding-bottom: 14px; padding-top: 10px; font-size: 32px; line-height: 1.4; font-weight: 400; font-family: poppins;', malgun='')
            h2(style='')
              span(style='color: rgb(16, 74, 90);') Rxhub
        |         
        tr
          td(style='margin: 0px;padding-top: 36px;padding-bottom: 2px;vertical-align: top;line-height: 18px;overflow-wrap: break-word;word-break: normal;')
            p(style='color: #434343;font-family: Helvetica, Arial, Verdana, sans-serif, "Malgun Gothic", NanumGothic;font-size: 20px;font-weight: bold;line-height: 24px;margin-bottom: 32px;padding: 0px;') Please reset your password
            |             
            p(style='color: #838383;font-family: Helvetica, Arial, Verdana, sans-serif, "Malgun Gothic", NanumGothic;font-size: 15px;line-height: 18px;padding: 0px;margin-bottom: 18px;overflow-wrap: break-word;word-break: normal;') Dear Customer,
            |             
            p(style='color: #838383;font-family: Helvetica, Arial, Verdana, sans-serif, "Malgun Gothic", NanumGothic;font-size: 15px;line-height: 18px;padding: 0px;margin-bottom: 0px;overflow-wrap: break-word;word-break: normal;')
              | You have requested to reset your password. Please click the button below to finish resetting your password.
            |             
            div(style='text-align: center;')
              font(color='#666666', face='Helvetica, Arial, Verdana, sans-serif, Malgun Gothic, NanumGothic')
                span(style='font-size: 15px;')
                  br
            p(style='text-align: center; font-family: Helvetica, Arial, Verdana, sans-serif, "Malgun Gothic", NanumGothic; font-size: 14px; padding: 0px; overflow-wrap: break-word; word-break: normal; line-height: 16px; margin-bottom: 0px; margin-top: 16px;')
              a(href="#{link}", target='_blank', style='')
                span(style='border: 1px solid rgb(68, 139, 246); border-radius: 5px; background-image: linear-gradient(to right, rgb(92, 163, 244), rgb(68, 160, 246)); padding: 11px 29px; display: inline-block; text-transform: uppercase; color: rgb(255, 239, 198); background-color: rgb(16, 74, 90);') RESET PASSWORD
            div(style='text-align: center;')
              br
            div(style='text-align: center;padding: 0px 12px;border: 1px solid #e2e2e2;')
              br
              p(style='text-align: left;color: #4b4b4b;font-family: Helvetica, Arial, Verdana, sans-serif, "Malgun Gothic", NanumGothic;font-size: 15px;line-height: 18px;padding: 0px;margin-bottom: 0px;overflow-wrap: break-word;word-break: normal;')
                | If the button above does not work, copy and paste the address below into a new browser window.
              |                     
              div(style='text-align: center;')
                br
              p(style='text-align: center;color: #7583ea;font-family: Helvetica, Arial, Verdana, sans-serif, "Malgun Gothic", NanumGothic;font-size: 12px;overflow-wrap: break-word;line-height: 15px;padding: 0px 16px 10px;margin-top: 0px;margin-bottom: 4px;word-break: break-all;')
                a(href="#{link+hash}", target='_blank', style='color: #337ab7;line-height: 15px;overflow-wrap: break-word;word-break: break-all;') "#{link+hash}";
            p(style='color: rgb(102, 102, 102); font-family: Helvetica, Arial, Verdana, sans-serif, "Malgun Gothic", NanumGothic; font-size: 15px; line-height: 18px; padding: 0px; margin-bottom: 0px; overflow-wrap: break-word; word-break: normal;')
              br
              font(color='#1428a0')
                span(style='line-height: 15px;word-break: break-all;color: #4b4b4b;') If you did not ask for your password to be reset, please ignore this email.
              br
              br
              br
            p(style='line-height: 18px;overflow-wrap: break-word;word-break: normal;color: #4b4b4b;font-family: Helvetica, Arial, Verdana, sans-serif, "Malgun Gothic", NanumGothic;font-size: 15px;padding: 0px;margin-bottom: 0px;')
              br
            p(style='line-height: 15px; overflow-wrap: break-word; word-break: break-all;')
              span(style='font-family: poppins; font-size: 22px; font-weight: 548; color: rgb(16, 74, 90);') Rxhub team
              span(style='font-family: "Courier New";')
        |         
        tr
          td(style='font-family: poppins;margin: 0px;padding: 12px 20px 14px;font-size: 12px;line-height: 9px;line-height: 15px;r: rgb(102, 102, 102);background: rgb(239, 239, 239);overflow-wrap: break-word;word-break: normal;')
            | *Note: Do not reply to this email. Contact us with any queries by visiting our website at:
            br
        tr
          td(style='font-family: Helvetica, Arial, Verdana, sans-serif, "Malgun Gothic", NanumGothic; margin: 0px; padding-top: 20px; padding-bottom: 20px; text-align: center; font-size: 11px; line-height: 1; color: rgb(172, 172, 172); vertical-align: middle; overflow-wrap: break-word; word-break: normal;')
            p &nbsp;
    |   
    p

